<h2>Welcome to the longest word-game</h2>

<h3>Here is your grid:</h3>
<%= @letters %></div>


<p>What is the longest word you can find?</p>
<form action="/score" method="post" data-turbo="false">
  <input type="text" name="word" value="<%= params[:word] %>">
  <input type="submit" class="blue-btn" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :grid, @letters %>
</form>
